@tailwind base;
@tailwind components;
@tailwind utilities;

.dev-error-boundary {
  display: block !important;
}

[data-error-code-container] code .line {
  position: relative;
  z-index: 1;
  display: inline-block;
  @apply w-full;
}

[data-error-code-container] code .error::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply bg-red-400/10;
  z-index: -1;
}

/* Line numbers */
[data-error-code-container] code .line::before {
  content: attr(data-line-number);
  width: 2.75rem;
  margin-right: 1rem;
  margin-left: 0.25rem;
  display: inline-block;
  text-align: right;
  @apply text-gray-400;
}
