@tailwind base;
@tailwind components;
@tailwind utilities;

/* [data-error-code-container] code .error {
  margin: 0 -24px;
  padding: 0 24px;
  min-width: calc(100% + 24px);
  display: inline-block;
  @apply mt-bg-red-100;
} */

[data-error-code-container] code .line {
  position: relative;
  z-index: 1;
  display: inline-block;
  @apply mt-w-full;
}

[data-error-code-container] code .error::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  @apply mt-bg-red-400/10;
  z-index: -1;
}

/* Line numbers */
[data-error-code-container] code .line::before {
  content: attr(data-line-number);
  width: 2.75rem;
  margin-right: 1rem;
  margin-left: 0.25rem;
  display: inline-block;
  text-align: right;
  @apply mt-text-gray-400;
  /* color: rgba(115, 138, 148, 0.4); */
}

/* [data-line-upper-boundary] {
  border-top: 1px solid rgba(39, 39, 42, 1);
  margin: 0.5rem -24px 0 -24px;
  padding: 0.5rem 24px 0 24px;
  min-width: calc(100% + 24px);
  display: inline-block;
} */
